[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4
[submodule "thirdparty/libdeflate"]
	path = thirdparty/libdeflate
	url = https://github.com/NVIDIA/libdeflate
[submodule "thirdparty/libzip"]
	path = thirdparty/libzip
	url = https://github.com/nih-at/libzip
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
[submodule "thirdparty/jansson"]
	path = thirdparty/jansson
	url = https://github.com/akheron/jansson
